[Unit]
Description=Push ip

After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/get_ip_addr.py
Restart=on-failure
RestartSec=10s
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
